body {
    background-image: url(restaurang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 62px;
    font-weight: lighter;
    font-family: fantasy;
    color: white;
    text-shadow: -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
    text-align: center;
    background-image: url(beachparty.jpg);
    width: 70%;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    background-color: #000;
    border-radius: 20px 20px 20px 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: blue;
}

.bilder {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    place-items: center;
}

.bilder img {
    height: 200px;
    width: 200px;
    border-radius: 40px 40px 40px 40px;
}

.info {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #000;
    border-radius: 20px 20px 20px 20px;
}

.learnMore {
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: #000;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
}

.back {
    color: blue;
}